/*------------------------------------*\
#Variables
\*------------------------------------*/

 :root {
    /* typography */
    --global-root-font-size: 15;
    /* colors */
    --global-color-alpha: #9bd1eb;
    --global-color-beta: #1990c7;
    --global-color-gamma: #082e3f;
    --global-color-delta: #205d8c;
    --global-color-background: linear-gradient(180deg, var(--global-color-delta) 0, var(--global-color-gamma));
    --global-color-neutral-xxxx-light: #F0F0F7;
    --global-color-neutral-xxx-light: #EBEBF2;
    --global-color-neutral-xx-light: #D7DAE2;
    --global-color-neutral-x-light: #BCBCCB;
    --global-color-neutral-light: #A5A4BF;
    --global-color-neutral: #808495;
    --global-color-neutral-dark: #4D4F5C;
    --global-color-neutral-x-dark: #43425D;
    --global-color-neutral-xx-dark: #3B3B53;
    /* Opacity */
    --global-opacity: 0.5;
    /* Whitespace */
    --global-baseline: calc(1rem / 3);
    --global-whitespace-xxs: var(--global-baseline);
    /* = 5px */
    --global-whitespace-xs: calc(var(--global-baseline) * 2);
    /* = 10px */
    --global-whitespace-sm: calc(var(--global-baseline) * 3);
    /* = 15px */
    --global-whitespace-md: calc(var(--global-baseline) * 4);
    /* = 20px */
    --global-whitespace-lg: calc(var(--global-baseline) * 5);
    /* = 25px */
    --global-whitespace-xl: calc(var(--global-baseline) * 6);
    /* = 30px */
    /* transitions */
    --global-transistion: 1s;
    --global-transition-alpha: calc(var(--global-transistion)*5);
    --global-transition-beta: calc(var(--global-transistion)*10);
    --global-transition-gamma: calc(var(--global-transistion)*15);
    --global-transition-delta: calc(var(--global-transistion)*20);
}


/*------------------------------------*\
#GENERIC
\*------------------------------------*/


/*
    Generic: Page
    ---
    Global page styles
*/

html {
    font-size: var(--global-root-font-size);
    font-family: loos-normal, sans-serif;
    color: var(--global-color-neutral-dark);
    background: var(--global-color-neutral-xxxx-light);
}

 ::-moz-selection {
    background: var(--global-color-alpha);
    color: white;
    text-shadow: none;
}

 ::selection {
    background: var(--global-color-alpha);
    color: white;
    text-shadow: none;
}


/*------------------------------------*\
#OBJECTS
\*------------------------------------*/


/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-app {
    --c-app__topbar-height: calc(var(--global-baseline) * 30);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    color: #fafafa;
    background: var(--global-color-background);
    display: grid;
    grid-template-rows: var(--c-app__topbar-height) 1fr;
}

.c-title {
    display: flex;
    font-weight: 700;
    justify-content: center;
    margin-bottom: 0;
}

.c-subtitle {
    align-items: center;
    display: flex;
    justify-content: center;
}

.c-location {
    color: var(--global-color-alpha);
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.c-height {
    color: var(--global-color-alpha);
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.c-content {
    min-width: 12rem;
}

.c-button {
    fill: var(--global-color-neutral-xxx-light);
}

.c-inline {
    justify-content: center;
    gap: var(--global-baseline);
    align-items: center;
    display: inline-flex;
}

.c-zeespiegel {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(60%);
}

.c-zeespiegel-tekst {
    text-align: right;
    margin-bottom: calc(var(--global-baseline)/5);
    padding-right: var(--global-whitespace-xs);
    border-bottom: var(--global-baseline) solid white;
}

.c-water {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--global-color-beta);
    will-change: transform;
    transform: translateY(100%);
    transition: transform var(--global-transistion) ease-in-out;
}

.c-water__wave {
    width: 250%;
    position: absolute;
    bottom: 100%;
}

.c-water__wave--back {
    right: 0;
    fill: var(--global-color-gamma);
    animation: wave-back var(--global-transition-alpha) linear infinite;
}

.c-water__wave--front {
    left: 0;
    margin-bottom: -2px;
    fill: var(--global-color-beta);
    animation: wave-front var(--global-transition-beta) linear infinite;
}

.c-water__wave--back1 {
    right: 0;
    fill: var(--global-color-beta);
    opacity: var(--global-opacity);
    animation: wave-back var(--global-transition-gamma) linear infinite;
}

.c-water__wave--front1 {
    left: 0;
    fill: var(--global-color-gamma);
    opacity: var(--global-opacity);
    animation: wave-front var(--global-transition-delta) linear infinite;
}

@-webkit-keyframes wave-front {
    to {
        transform: translate(-50%);
    }
}

@keyframes wave-front {
    to {
        transform: translate(-50%);
    }
}

@-webkit-keyframes wave-back {
    to {
        transform: translate(50%);
    }
}

@keyframes wave-back {
    to {
        transform: translate(50%);
    }
}